# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.tox/
.coverage

# IDEs / editors
.vscode/
.idea/
*.swp
*.swo

# System
.DS_Store

# Conda config
.condarc

# Project-specific
/src/__pycache__
